.lead__image {
    max-width: calc(100% - 296px);
    /*max-height: 615px; */
    margin: 0;
    padding: 64px 0 0;
    object-fit: cover;
    /*object-position: center;*/
    border: 1px solid red;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__image {
        max-width: calc(100% - 96px);
        padding-top: 56px;
    }
}

@media screen and (min-width: 768px) and (max-width : 1023px) {
    .lead__image {
        max-width: 100%;
    }
}


@media screen and (min-width: 425px) and (max-width: 767px) {
    .lead__image {
        max-width: 100%;
        padding-top: 48px;
    }
}

@media screen and (max-width: 424px) {
    .lead__image {
        max-width: 100%;
        padding-top: 40px;
    }
}