.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 92px auto 0 148px;
    background: #2A2C2F;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        align-items: center;
        padding: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        align-items: center;
        padding: 72px 20px 0 20px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        align-items: center;
        padding: 64px 16px 0 16px;
    }
}