.intro {
    margin: 0;
    padding: 0 0 0 148px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 1279px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        padding-left: 20px;
    }
}


@media screen and (max-width: 424px) {
    .intro {
        padding-left: 16px;
    }
}