.lead__subtitle {
    margin: 0 auto;
    padding: 32px 0 0;
    /*max-width: 640px;*/
    width: 50%;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.04;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
       width: 62,5%;
    }
}

@media screen and (max-width: 1023px) {
    .lead__subtitle {
       width: 83%;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        padding-top: 48px;
        width: 86,5%;
    }
}

@media screen and (max-width: 425px) {
    .lead__subtitle {
       padding-top: 16px;
       /*max-width: 288px;*/
       width: 90%;
       font-size: 16px;
       line-height: 1.25;
    }
}