.cover {
    margin: 0 auto;
    padding: 92px 48px 0;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 1280px) {
    .cover {
        padding-left: 0;
        padding-right: 0;
    }
}