.place__link {
    color: white;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.12;
    margin: 0;
    padding: 12px 0 0;
    opacity: 1;
    transition: opacity 0.5s ease-in 0s;
}

.place__link:hover {
    opacity: 0.8;
}